@page {
    margin-bottom: 75pt;
    margin-top: 75pt
    }
@font-face {
    font-family: "DejaVu Sans";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-Regular";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-Semibold";
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-SemiboldIt";
    font-style: italic;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-Bold";
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-BoldIt";
    font-style: italic;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-It";
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MyriadPro-LightSemiExtIt";
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MyriadPro-Regular";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MyriadPro-Light";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MyriadPro-Semibold";
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MyriadPro-SemiboldIt";
    font-style: italic;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MyriadPro-Bold";
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "TheSans Bold Plain";
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "TheSans Plain";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
